@page "{boardName?}"
@model Ludo.Web.Pages.GameModel
@{
}
<link rel="stylesheet" href="~/css/ludo.css" />

<h2 id="groupName">@Model.Board.BoardName</h2>
<h4 id="playerTurn"></h4>

<div class="container">
    <div>&nbsp;</div>
    <div id="userInputRow">
        <div>Choose a player:</div>
        <div>
            @for (int i = 0; i < Model.Board.Players.Count; i++)
            {
                <input type="radio" name="user" id=@String.Concat("user",i) value=@Model.Board.Players[i].Name />
                <label for=@String.Concat("user",i)>@Model.Board.Players[i].Name - @Model.Board.Players[i].Tokens[0].Color</label><br>
            }
        </div>
        <div class="col-4"><input type="submit" id="userSubmit" value="Connect to game" class="btn btn-primary" /></div>
    </div>

    <h4 id="selectedPlayer" style="display: none"></h4>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Roll Dice" class="btn btn-warning" />
        </div>
    </div>
    <h4 id="dice" style="display: none"></h4>
    <h4 id="selected square">Choose a token</h4>
    <input type="submit" id="moveButton" value="Move token" style="display: none" class="btn btn-warning">
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="game">
    <div class="house blue">
        <div class="box">
            <div class="square square-one blueBorder" id="b0"></div>
            <div class="square square-two blueBorder" id="b1"></div>
            <div class="square square-three blueBorder" id="b2"></div>
            <div class="square square-four blueBorder" id="b3"></div>
        </div>
    </div>

    <div class="house red" style="right: 0">
        <div class="box">
            <div class="square square-one redBorder" id="r0"></div>
            <div class="square square-two redBorder" id="r1"></div>
            <div class="square square-three redBorder" id="r2"></div>
            <div class="square square-four redBorder" id="r3"></div>
        </div>
    </div>

    <div class="house yellow" style="bottom: 0">
        <div class="box">
            <div class="square square-one yellowBorder" id="y0"></div>
            <div class="square square-two yellowBorder" id="y1"></div>
            <div class="square square-three yellowBorder" id="y2"></div>
            <div class="square square-four yellowBorder" id="y3"></div>
        </div>
    </div>

    <div class="house green" style="bottom: 0;right: 0">
        <div class="box">
            <div class="square square-one greenBorder" id="g0"></div>
            <div class="square square-two greenBorder" id="g1"></div>
            <div class="square square-three greenBorder" id="g2"></div>
            <div class="square square-four greenBorder" id="g3"></div>
        </div>
    </div>

    <div class="home"></div>
    <div class="cells" id="38" style="top: 40%;"></div>
    <div class="cells b-start" id="39" style="top: 40%;left:6.66%;"></div>
    <div class="cells" id="40" style="top: 40%;left:13.32%;"></div>
    <div class="cells" id="41" style="top: 40%;left:19.98%;"></div>
    <div class="cells" id="42" style="top: 40%;left:26.64%;"></div>
    <div class="cells" id="43" style="top: 40%;left:33.3%;"></div>

    <div class="cells" id="49" style="top: 0;left:40%;"></div>
    <div class="cells" id="48" style="top: 6.66%;left:40%;"></div>
    <div class="cells" id="47" style="top: 13.32%;left:40%;"></div>
    <div class="cells" id="46" style="top: 19.98%;left:40%;"></div>
    <div class="cells" id="45" style="top: 26.64%;left:40%;"></div>
    <div class="cells" id="44" style="top: 33.3%;left:40%;"></div>

    <div class="cells" id="50" style="top: 0;left:46.66%;"></div>
    <div class="cells red" id="101" style="top: 6.66%;left:46.66%;"></div>
    <div class="cells red" id="102" style="top: 13.32%;left:46.66%;"></div>
    <div class="cells red" id="103" style="top: 19.98%;left:46.66%;"></div>
    <div class="cells red" id="104" style="top: 26.64%;left:46.66%;"></div>
    <div class="cells red" id="105" style="top: 33.3%;left:46.66%;"></div>

    <div class="cells" id="51" style="top: 0;left:53.32%;"></div>
    <div class="cells r-start" id="0" style="top: 6.66%;left:53.32%;"></div>
    <div class="cells" id="1" style="top: 13.32%;left:53.32%;"></div>
    <div class="cells" id="2" style="top: 19.98%;left:53.32%;"></div>
    <div class="cells" id="3" style="top: 26.64%;left:53.32%;"></div>
    <div class="cells" id="4" style="top: 33.3%;left:53.32%;"></div>

    <div class="cells" id="5" style="top: 40%; right: 33.3%"></div>
    <div class="cells" id="6" style="top: 40%;right:26.64%;"></div>
    <div class="cells" id="7" style="top: 40%;right:19.98%;"></div>
    <div class="cells" id="8" style="top: 40%;right:13.32%;"></div>
    <div class="cells" id="9" style="top: 40%;right:6.66%;"></div>
    <div class="cells" id="10" style="top: 40%;right:0;"></div>

    <div class="cells green" id="205" style="top: 46.66%; right: 33.3%"></div>
    <div class="cells green" id="204" style="top: 46.66%;right:26.64%;"></div>
    <div class="cells green" id="203" style="top: 46.66%;right:19.98%;"></div>
    <div class="cells green" id="202" style="top: 46.66%;right:13.32%;"></div>
    <div class="cells green" id="201" style="top: 46.66%;right:6.66%;"></div>
    <div class="cells" id="11" style="top: 46.66%;right:0;"></div>

    <div class="cells" id="17" style="top: 53.32%; right: 33.3%"></div>
    <div class="cells" id="16" style="top: 53.32%;right:26.64%;"></div>
    <div class="cells" id="15" style="top: 53.32%;right:19.98%;"></div>
    <div class="cells" id="14" style="top: 53.32%;right:13.32%;"></div>
    <div class="cells g-start" id="13" style="top: 53.32%;right:6.66%;"></div>
    <div class="cells" id="12" style="top: 53.32%;right:0;"></div>

    <div class="cells" id="23" style="bottom: 0;left:53.32%;"></div>
    <div class="cells" id="22" style="bottom: 6.66%;left:53.32%;"></div>
    <div class="cells" id="21" style="bottom: 13.32%;left:53.32%;"></div>
    <div class="cells" id="20" style="bottom: 19.98%;left:53.32%;"></div>
    <div class="cells" id="19" style="bottom: 26.64%;left:53.32%;"></div>
    <div class="cells" id="18" style="bottom: 33.3%;left:53.32%;"></div>

    <div class="cells" id="24" style="bottom: 0;left:46.66%;"></div>
    <div class="cells yellow" id="301" style="bottom: 6.66%;left:46.66%;"></div>
    <div class="cells yellow" id="302" style="bottom: 13.32%;left:46.66%;"></div>
    <div class="cells yellow" id="303" style="bottom: 19.98%;left:46.66%;"></div>
    <div class="cells yellow" id="304" style="bottom: 26.64%;left:46.66%;"></div>
    <div class="cells yellow" id="305" style="bottom: 33.3%;left:46.66%;"></div>

    <div class="cells" id="25" style="bottom: 0;left:40%;"></div>
    <div class="cells y-start" id="26" style="bottom: 6.66%;left:40%;"></div>
    <div class="cells" id="27" style="bottom: 13.32%;left:40%;"></div>
    <div class="cells" id="28" style="bottom: 19.98%;left:40%;"></div>
    <div class="cells" id="29" style="bottom: 26.64%;left:40%;"></div>
    <div class="cells" id="30" style="bottom: 33.3%;left:40%;"></div>

    <div class="cells" id="31" style="top: 53.32%; left: 33.3%"></div>
    <div class="cells" id="32" style="top: 53.32%;left:26.64%;"></div>
    <div class="cells" id="33" style="top: 53.32%;left:19.98%;"></div>
    <div class="cells" id="34" style="top: 53.32%;left:13.32%;"></div>
    <div class="cells" id="35" style="top: 53.32%;left:6.66%;"></div>
    <div class="cells" id="36" style="top: 53.32%;left:0;"></div>

    <div class="cells blue" id="405" style="top: 46.66%;left: 33.3%"></div>
    <div class="cells blue" id="404" style="top: 46.66%;left:26.64%;"></div>
    <div class="cells blue" id="403" style="top: 46.66%;left:19.98%;"></div>
    <div class="cells blue" id="402" style="top: 46.66%;left:13.32%;"></div>
    <div class="cells blue" id="401" style="top: 46.66%;left:6.66%;"></div>
    <div class="cells" id="37" style="top: 46.66%;left:0;"></div>
</div>


<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
