@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<center>
    <br />
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">New Game</h5>
            <p class="card-text">Create a new ludo game with up to 4 players</p>
            <a asp-page="/Newgame" class="btn btn-primary">New Game</a>
        </div>
    </div>
    <br />
    <h3>Or</h3>
    <br />
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Join Game</h5>
            <p class="card-text">Join an existing game using name</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Game Name" aria-label="Game Name" aria-describedby="basic-addon2">
                <input type="button" class="btn-primary" value="Join" />
            </div>
        </div>
    </div>

</center>