@page
@model Ludo.Web.Pages.NewGameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>New Game</h1>

<form method="post">
    Name:
    <input asp-for="Board.BoardName" />
    <input type="submit" class="btn-primary" />
</form>